.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='34' height='41' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*emojicursor.app*/
}
