<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="text"
                type="text"
                placeholder="What's this rev about?" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="imageUrl"
                type="file"
                placeholder="Upload the picture"
                (change)="handleFileInput($event)"/>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()" />

              <div class="tag-list">
                <span *ngFor="let tag of article.hashTags"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Revvit!
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
